<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Monoton|Do+Hyeon" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
  <link rel="stylesheet" href="/stylesheets/home.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.4.1/vanilla-tilt.min.js"></script>
  <title>앤썸 팬페이지</title>
</head>
<body>
  <div id="container">  
    <div class="intro_logo">
    <p><a>
      <span>ANTHEM™</span><span>FAN PAGE</span>
    </a></p>
  </div>
  <div class="enter_homepage">
    <div class="welcome_text">
      클릭하세요!
    </div>
  </div>
  <section class="section--container">
    <div class="sns_container">
        <h1 class="main-title">
          소셜미디어
        </h1>
        <div class="box box-1" id="instagram_icon">
          <a target="_blank">
            <i class="fab fa-instagram fa-2x icon"></i>
          </a>
        </div>
        <div class="box box-2"  id="facebook_icon">
          <a target="_blank">
            <i class="fab fa-facebook-f fa-2x icon"></i>
          </a>  
        </div>
        <div class="box box-3"  id="tumbler_icon">
          <a target="_blank">
            <i class="fab fa-tumblr-square fa-2x icon"></i>
          </a>
        </div>
        <div class="box box-4"  id="twitter_icon">
          <a target="_blank">
            <i class="fab fa-twitter fa-2x icon"></i>
          </a>
      </div>
    </div>
  </section>
  <audio src="/se/Light_beam_hit_6.wav" id="login_sfx"></audio>
  <audio src="/se/misc_menu_4.wav" id="click_sfx"></audio>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/javascripts/home.js"></script>
  
</body>
</html>