<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/cube.css">
  <link rel="stylesheet" href="/stylesheets/nav.css">
  <link rel="stylesheet" href="/stylesheets/info.css">
  <link rel="stylesheet" href="/stylesheets/mobile.css">
  <title>앤썸 펜페이지</title>
</head>
<body>
    <div id="container">
        <ul class="navbar" style="width:100vw">
            <li><a href="#char_relation" class="scroll">캐릭터 / 성장 관련</a></li>
            <li><a href="#contents" class="scroll">컨텐츠 관련</a></li>
            <li><a href="#hardware_relation" class="scroll">하드웨어 / 편의성 관련</a></li> 
            <li><a href="#payment_relation" class="scroll">결제 관련</a></li>
          </ul>
          <div id="char_relation">
            <div class="info_desc">
            <h2>캐릭터 / 성장 관련</h2>
            <ul>
              <li>재블린 슈트에 어떤 장비를 착용하느냐에 따라 사용할 수 있는 어빌리티가 변화한다.</li>
              <li>재블린 슈트의 제트팩은 과열 게이지를 조절하는 방식이다.</li>
              <li>재블린 슈트의 체력은 자동 회복되지 않고 체력 아이템을 주워 회복하는 방식이다.</li>
              <li>캐릭터는 재블린 슈트와 별개의 캐릭터 커스터마이징을 가진다. 또한 캐릭터도 별개의 성장 요소/구조를 갖추고 있다.</li>
              <li>캐릭터는 레벨이 있으며, 레벨이 오를 때마다 모든 재블린 슈트에 적용할 수 있는 퍼크를 받는다.</li>
              <li>재블린 슈트는 퍼스널라이징(외형 치장)을 할 수도 있고, 커스터마이징(성능, 빌드, 특화 등)도 할 수 있다. 변화의 폭은 매우 넓다.</li>
              <li>재블린 슈트는 각 종류별로 사용할 수 있는 무기에서 차이가 있다.</li>
              <li>캐릭터는 재블린 슈트를 타르시스 요새나 스트라이더 같은 거점에서 자유롭게 바꿔 입을 수 있다. 캐릭터 별 역할 제한이 없다.</li>
              <li>모든 재블린 슈트는 근접 공격이 가능하다. 그러나 순수 근접 빌드/슈트를 제공할 계획은 없다.</li>
              <li>재블린 슈트는 각각 하나씩 궁극기 어빌리티를 가지고 있다.</li>
            </ul>
          </div>
          </div>
          <div id="contents">
            <div class="info_desc">
            <h2>컨텐츠 관련</h2>
            <ul>
                <li>춤 같은 감정표현이 존재한다.</li>
                <li>레인저 재블린 슈트로 게임을 시작하게 되며, 스토리를 거치면서 다른 슈트를 언락하게 된다.</li>
                <li>루팅은 개인별로 무작위 드랍된다.</li>
                <li>인스턴스 던전/레이드가 있다.</li>
                <li>더 많은 종류의 재블린 슈트가 향후 추가될 수도 있다.</li>
                <li>현재는 없지만 로맨스 요소는 필요에 따라 충분히 추가될 수 있으며 기술적으로 제한되어 있지 않다. 출시 이후에 추가될 가능성은 있다.</li>
                <li>런칭 버전에는 PVP가 없다. 보다 유연한 PVE 밸런싱을 위한, 플레이어가 더 넓은 선택지를 갖도록 하기 위한 결정이며, 현시점에서의 추가 계획은 없다.</li>
                <li>스토리 미션은 1~4명의 플레이어가 플레이할 수 있다.</li>
                <li>크래프팅이 있으며 최고급 장비와 무기 또한 생산할 수 있다.</li>
                <li>거점에서는 1인칭 시점만을 지원한다.</li>
                <li>전용의 AI 컴패니언 캐릭터는 없다. 단, 네비게이터 겸 안내자인 사이퍼가 재블린 슈트에 내장되어 있다.</li>
                <li>적 크리처들은 머리나 다른 부위에 약점을 가지고 있다.</li>
                <li>인벤토리의 제한은 있지만 부담스러운 수준은 아닐 것이다.</li>
              </ul>
          </div>
          </div>
          <div id="hardware_relation">
            <div class="info_desc">
            <h2>하드웨어 / 편의성 관련</h2>
            <ul>
                <li>플레이를 위해선 상시 온라인 상태가 요구된다.</li>
                <li>현재로서는 화면 분할 플레이를 지원할 계획이 없다.</li>
                <li>온라인 환경은 데디케이티드 서버로 제공된다.</li>
                <li>크로스 플랫폼 플레이는 현재로서 지원하지 않음.</li>
                <li>모든 콘텐츠는 매치메이킹을 지원한다. 별도의 LFG 서비스는 필요 없을 것이다.</li>
                <li>컨트롤러를 위한 조준 어시스트를 지원한다.</li>
              </ul>
          </div>
          </div>
          <div id="payment_relation">
            <div class="info_desc">
            <h2>결제 관련</h2>
            <ul>
                <li>랜덤 박스 구매는 없다.</li>
                <li>시즌패스는 없다.</li>
                <li>'드래곤 에이지 인퀴지션'에서는 스토리 DLC 를 판매했지만, '앤썸'에서는 다른 방식을 취할 것이다. 비합리적인 유료 DLC 는 자제할 것이다.</li>
              </ul>
          </div>
          </div>
        </div>

    <div class="cube_container">
        <div class="cube">
          <div class="cube_face" id="home_cube">
              HOME
            </div>
          <div class="cube_face" id="anthem_cube">
              ANTHEM™?
            </div>
            <div class="cube_face" id="friends_cube">
              Friends Code
             </div>
          <div class="cube_face" id="javelin_cube">
            Javelin
            </div>
          <div class="cube_face" id="info_cube">
            Game Infomation
            </div>
          <div class="cube_face" id="trailer_cube">
              Trailer
            </div>
          </div>
      </div>
      <audio src="/se/misc_menu_4.wav" id="click_sfx"></audio>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/javascripts/cube.js"></script>
  <script src="/javascripts/scroll.js"></script>
</body>
</html>