<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/mobile.css">
  <link rel="stylesheet" href="/stylesheets/cube.css">
  <link rel="stylesheet" href="/stylesheets/javelin.css">
  <link rel="stylesheet" href="/stylesheets/nav.css">
  <title>앤썸 펜페이지</title>
</head>
<body>
    <div id="container">  
      <ul class="navbar">
            <li><a href="#javelin_intro" class="scroll">자벨린이란?</a></li>
            <li><a href="#javelin_ranger" class="scroll">레인저</a></li>
            <li><a href="#javelin_colossus" class="scroll">콜로서스</a></li> 
            <li><a href="#javelin_intercepter" class="scroll">인터셉터</a></li>
            <li><a href="#javelin_storm" class="scroll">스톰</a></li> 
      </ul>
      <div id="javelin_intro" >
       <img src="/images/Four-Javelins.png" alt="" >
       <div class="javelin_desc">자벨린은 플레이어에게 초인적인 능력을 선사하는 강력하고 커스텀 가능한 엑소슈트입니다.
        포트 타르시스 바깥의 황야를 모험할 용기있는 사람들에게 자벨린은 이 위험한 세계에서 살아남기 위한 필수품입니다.
        현재 공개된 자벨린은 레인저, 콜로서스, 스톰, 인터셉터입니다. 자벨린은 파츠, 외형을 유저가 커스텀 할 수 있기 때문에
        유저의 개성이 살아있는 자신만의 자벨린을 만들 수 있을 것 같습니다.</div>
      </div>
      <div id="javelin_ranger" >
          <img src="/images/Ranger-class-javelin.png" alt="">
          <div class="javelin_desc">레인저 타입 자벨린은 플레이어가 가장 처음 다루게 될 자벨린입니다. 
          가장 다재다능하고 전투에서 여러가지 역할을 수행하는데 적합한 슈트입니다. 
          스토리를 진행하며 다른 자벨린을 언락하기 전까지는 필수적으로 다뤄야 합니다. 
         
          <h2 style="text-align: center">어빌리티</h2>
         
          <div class="javelin-ablility">
           1. 근접공격 - 레인저는 쇼크 바톤으로 단일 개체에 근접공격을 할 수 있습니다.
           <br>
           2. 그레네이드 - 그레네이드는 레인저 특유의 장비입니다. 팀원과의 콤보공격이 가능한 범위공격입니다.  
           <br>
           <video src="https://giant.gfycat.com/PitifulForkedIndianringneckparakeet.webm" width="75%" height="75%" autoplay controls loop></video>
           <br>
           3. 궁극기 - 레인저의 궁극기는 어깨에 장착된 미사일로 다중 타겟을 락온해서 공격하거나 단일 타겟을 락온해서 다중 공격하거나 할 수 있습니다.
           <br>
           <video src="https://giant.gfycat.com/WavyNauticalArcticduck.webm" width="75%" height="75%" autoplay controls loop></video>
          </div>  
        </div>
      </div>
      <div id="javelin_colossus" >
          <img src="/images/Colossus-class-javelin.png" alt="">
          <div class="javelin_desc">콜로서스 타입 자벨린은 가장 크고 적의 공격을 탱킹 할 수 있는 건장한 자벨린입니다. 
         
          <h2 style="text-align: center">어빌리티</h2>
         
          <div class="javelin-ablility">
           1. 클래스 어빌리티 - 콜로서스는 진압용 방패를 전개하고 있을 때 데미지를 흡수합니다. 
           받은 데미지가 한계치를 넘으면 열이 식을때까지 기다려야 합니다.
           <br>
           2. 근접공격 - 콜로서스의 근접공격은 땅을 내려치는 광역공격입니다. 이 공격은 비행중에도 가능합니다. 
           진압용 방패를 전개하고 있을 때는 방패도 근접공격에 사용 할 수 있습니다.
           <br>
           <video src="https://giant.gfycat.com/PitifulGlisteningDarklingbeetle.webm" width="75%" height="75%" autoplay controls loop></video>
           <br>
           3. 궁극기 - 콜로서스의 궁극기는 평소에는 뒤쪽에 접혀있는 캐논을 펼쳐서 넓은 지역에 높은 데미지를 주는 '핵'을 발사한다.
           <br>
           <img src="/images/Colossus-ultimate.gif" alt="" id="Colossus-u-skill"> 
          </div>  
        </div>
      </div>
      <div id="javelin_intercepter">
          <img src="/images/Interceptor-class-javelin.png" alt="">
          <div class="javelin_desc">인터셉터 타입 자벨린은 땅 위에서 가장 기동성이 뛰어나고 속도가 빠른 자벨린입니다. 
         
          <h2 style="text-align: center"></h2>
         
          <div class="javelin-ablility">
          
           <br>
          
           <br>
          
           <br>

           <br>
        
          </div>  
        </div>
      </div>
      <div id="javelin_storm">
          <img src="/images/Storm-class-javelin.png" alt="">
          <div class="javelin_desc">스톰 타입 자벨린은 가장 자연적이고 다른 자벨린보다 더 오래 비행 할 수 있습니다.
          
          <h2 style="text-align: center">어빌리티</h2>
         
          <div class="javelin-ablility">
          1. 클래스 어빌리티 - 스톰은 짧은 거리를 순간이동 할 수 있는 점멸능력을 사용 할 수 있다. 점멸은 공중에서도 사용 할 수 있다.
          <br>
          <video src="https://giant.gfycat.com/ExemplaryDependentHamster.webm" width="75%" height="75%" autoplay controls loop></video>
          <br>
          
          <br>

          <br>
        
          </div>  
        </div>
      </div>
    </div>
    <div class="cube_container">
        <div class="cube">
          <div class="cube_face" id="home_cube">
              HOME
            </div>
          <div class="cube_face" id="anthem_cube">
              ANTHEM™?
            </div>
            <div class="cube_face" id="friends_cube">
              Friends Code
             </div>
          <div class="cube_face" id="javelin_cube">
            Javelin
            </div>
          <div class="cube_face" id="info_cube">
            Game Info
            </div>
          <div class="cube_face" id="trailer_cube">
              Trailer
            </div>
          </div>
      </div>
      <audio src="/se/misc_menu_4.wav" id="click_sfx"></audio>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/javascripts/cube.js"></script>
  <script src="/javascripts/scroll.js"></script>
</body>
</html>