<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/mobile.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/cube.css">
 
  <title>앤썸 팬페이지</title>
</head>
<body>
  <div id="container">
    <img src="/images/Anthem.jpg" alt="">
  <div id="anthem_detail">
    <div id="anthem_pre"><span>2019년 2월 22일 금요일 Xbox One, PlayStation® 4, PC로 출시됩니다.</span></div>
    <div id="anthem_pre"><span>Origin Access와 EA Access 회원은 2월 15일부터 플레이할 수 있습니다.</span></div>
    <div id="anthem_pre"><span>공식한글화</span></div>
  </div>
  <div class="cube_container">
    <div class="cube">
      <div class="cube_face" id="home_cube">
          HOME
        </div>
      <div class="cube_face" id="anthem_cube">
          ANTHEM™?
        </div>
        <div class="cube_face" id="friends_cube">
          Friends Code
         </div>
      <div class="cube_face" id="javelin_cube">
        Javelin
        </div>
      <div class="cube_face" id="info_cube">
        Game Infomation
        </div>
      <div class="cube_face" id="trailer_cube">
          Trailer
        </div>
      </div>
  </div>
  </div>
  <audio src="/se/misc_menu_4.wav" id="click_sfx"></audio>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/javascripts/cube.js"></script>
</body>
</html>