<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|East+Sea+Dokdo" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/trailer.css">
  <link rel="stylesheet" href="/stylesheets/cube.css">
  <link rel="stylesheet" href="/stylesheets/nav.css">
  <link rel="stylesheet" href="/stylesheets/mobile.css">
  <title>앤썸 펜페이지</title>
</head>
<body>
  <div id="container" >
      <ul class="navbar">
          <li><a href="#tr1" class="scroll">트레일러#1</a></li>
          <li><a href="#tr2" class="scroll">트레일러#2</a></li>
          <li><a href="#tr3" class="scroll">트레일러#3</a></li> 
          <li><a href="#tr4" class="scroll">트레일러#4</a></li>
          <li><a href="#tr5" class="scroll">트레일러#5</a></li>
          <li><a href="#tr6" class="scroll">트레일러#6</a></li>  
      </ul>
    <div class="odd" id="tr1">
    <iframe src="https://www.youtube.com/embed/lAObZ_LMtx0?rel=0" frameborder="5" allow="encrypted-media" allowfullscreen></iframe>
      <div class="tr_desc">
      Anthem의 첫 번째 트레일러입니다. 이 트레일러에서는 주인공이 '프리랜서'라고 불린다는 것과 '자벨린'이라고 불리는 엑소슈트에 대한 정보를 일부 알 수 있었습니다.  
      </div>
    </div>
    <div class="even" id="tr2">
    <iframe src="https://www.youtube.com/embed/MvV5kPkzoE0?rel=0" frameborder="5" allow="encrypted-media" allowfullscreen></iframe>
    <div class="tr_desc">
      Anthem의 첫 번째 시네마틱 트레일러입니다. Anthem의 배경스토리를 잠깐 소개하고 있네요. 주인공과 대립하는 어떤 세력에 대한 암시도 들어있습니다. 
      Anthem이 과연 어떤 것일지 궁금해지는 트레일러였습니다.
    </div>
    </div>
    <div class="odd" id="tr3">
    <iframe src="https://www.youtube.com/embed/HD11I8cZIO8?rel=0" frameborder="5" allow="encrypted-media" allowfullscreen></iframe>
    <div class="tr_desc">
      이번엔 게임플레이에 포커스를 맞춘 트레일러입니다. NPC들과 3종류의 다른 엑소슈트들의 운용방식을 일부 볼 수 있고 적으로 나오는 세력을 '스카'라고 부르는 것도
      볼 수 있습니다. 
    </div>
    </div>
    <div class="even" id="tr4">
    <iframe src="https://www.youtube.com/embed/SWGxqq-mh_c?rel=0" frameborder="5" allow="encrypted-media" allowfullscreen></iframe>
    <div class="tr_desc">
      이전 트레일러에서 더 확장된 버전이면서 제작자의 코멘터리가 있어서 Anthem에 대한 정보를 더 구체적으로 알 수 있는 트레일러입니다. 보스전, 다시 말해 '레이드'에 대한 정보를 알 수 있습니다.  
    </div>  
    </div>
    <div class="odd" id="tr5">
          
    <div class="tr_desc"></div>  
    </div>

    <div class="even" id="tr6">
            
    <div class="tr_desc"></div>  
    </div>
    </div>
  <div class="cube_container">
      <div class="cube">
        <div class="cube_face" id="home_cube">
            HOME
          </div>
        <div class="cube_face" id="anthem_cube">
            ANTHEM™?
          </div>
          <div class="cube_face" id="friends_cube">
            Friends Code
           </div>
        <div class="cube_face" id="javelin_cube">
          Javelin
          </div>
        <div class="cube_face" id="info_cube">
          Game Infomation
          </div>
        <div class="cube_face" id="trailer_cube">
            Trailer
          </div>
        </div>
    </div>
    <audio src="/se/misc_menu_4.wav" id="click_sfx"></audio>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/javascripts/cube.js"></script>
  <script src="/javascripts/scroll.js"></script>
</body>
</html>