@charset 'utf-8';

body{
  background-image: url(/images/Anthem.jpg);
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 1;
  font: 300 1rem 'Do Hyeon';
  word-spacing: 3px;
}

#container{
  background: rgba(255, 255, 255, 0.7);
  width: 100%; 
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.backward_button{
  float: right;
  width: 15vw;
  height: 5vh;
  background: black;
  color: #fff;
  font: 400 1rem 'Do Hyeon';
  border: none;
  text-decoration: none;
}

#form_style{
  position: absolute;
  background: lightskyblue;
  top: 10vh;
  bottom: 10vh;
  left: 15vw;
  right: 15vw;
  padding: 5vh 0;
  z-index: 3;
  border-radius: 30px;
  height: 50vh;
}

.code_button{
  position: relative;
  margin: 3vh 25vw;
  width: 20vw;
  height: 5vh;
  background: hotpink;
  color: #fff;
  font: 400 1rem 'Do Hyeon';
  border: none;
  text-decoration: none;
}

#code_passwordInput{
  width: 20vw;
  height: 3vh;
}

td{
  height: 4vh;
}