@charset 'utf-8';

body {
  background-image: url(/images/anthem-hero-2018.jpg); 
  width: 100%;
  height: 100%;
  z-index: 10;
  margin: 0;
  position: relative;
  font-size: 100%;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
}

.intro_logo{
  position: absolute;
  display: inline-block;
  top: 5vh;
  margin: 0 5vw;
  width: 90vw;
  height: 20vh;
  justify-content: center;
  align-items: center;
}

.intro_logo span{
  margin: 0 1vw;
}

.enter_homepage{
  position: absolute;
  display: block;
  top: 16vh;
  margin: 15vh 39vw;
  width: 22vw;
  height: 10vh;
  background-color: rgba(255,255,255,0.9);
  color: #000;
  border-radius: 2.5em;
  border: 5px solid black;
}

.enter_homepage:hover{
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.70);
  background: rgba(233, 233, 233, 0.70);
  color: #fff;
  background-color: rgba(20,20,5,0.9);
}

.welcome_text{
  padding: 3vh 0;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Do Hyeon', sans-serif;
  text-align: center;
  letter-spacing: 5px;
  vertical-align: -webkit-baseline-middle;
}

/*네온사인 효과*/
p {
  text-align: center;
  font-size: 1.5rem;
  margin: 2vw 0 2vw 0;
  right: 0;
  width: 100%;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

p:nth-child(1) a {
  color: white;
  font-family: Monoton;
  font-size: 3.5rem;
  font-weight: 500;
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
  -moz-animation: neon 1.5s ease-in-out infinite alternate;
  animation: neon 1.5s ease-in-out infinite alternate;
}

/*네온사인 색*/

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px red, 0 0 70px blue, 0 0 80px #daa520, 0 0 100px violet, 0 0 150px green;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #daa520, 0 0 35px #daa520, 0 0 40px #daa520, 0 0 50px #daa520, 0 0 75px #daa520;
  }
}

@-moz-keyframes neon {
  from {
    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(240, 240, 240), 0 0 30px rgb(220, 220, 220), 0 0 40px red, 0 0 70px rgb(230, 0, 0), 0 0 80px rgb(210, 0, 0), 0 0 100px rgb(120, 0, 0), 0 0 150px rgb(0, 0, 0);
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #daa520, 0 0 35px #daa520, 0 0 40px #daa520, 0 0 50px #daa520, 0 0 75px #daa520;
  }
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(240, 240, 240), 0 0 30px rgb(220, 220, 220), 0 0 40px red, 0 0 70px rgb(230, 0, 0), 0 0 80px rgb(210, 0, 0), 0 0 100px rgb(120, 0, 0), 0 0 150px rgb(0, 0, 0);
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #daa520, 0 0 35px #daa520, 0 0 40px #daa520, 0 0 50px #daa520, 0 0 75px #daa520;
  }
}

.section--container{
  position: absolute;
  top: 50vh;  
  margin: 12vh 40vw; 
  height: 15vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .sns_container{
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 120px 100px 100px;
  grid-gap: 2px;
  }
  
  .main-title{
    text-align: center;
    grid-column: 1 / 3;
    background: white; 
    transform-style: preserve-3d;
    border: 5px solid black;
    transition: 
    box-shadow ease-in-out .2s,
    background ease-in-out .2s;
    font-size: 20px;
    font-family: 'Do Hyeon';
    padding: 4vh 0;
  }
  
  .main-title:hover{
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.70);
    background: rgba(233, 233, 233, 0.70);
  }
  
  .box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    background: white;
    transform-style: preserve-3d;
    transition: 
    background ease-in-out .2s,
    box-shadow ease-in-out .2s;
    height: 8vh;
  }
  
  .box a:link, .box a:visited {
    color: black;
  }

  .box:hover{
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.70);
    background: rgba(233, 233, 233, 0.70);
    text-shadow: 3px 3px 1px #fff;
  }

  .box .icon {
    transform: translateZ(30px);
  }
  
  .box-1{
    grid-column: 1 / 2;
    grid-row: 2;
  }
  
  .box-2{
    grid-column: 2 / 3;
    grid-row: 2;
  }
  
  .box-3{
    grid-column: 1 / 2;
    grid-row: 3;
  }
  
  .box-4{
    grid-column: 2 / 3;
    grid-row: 3;
  }
  