@charset 'utf-8';

@media (max-width:365px){
  html{font-size:8px;}
  body{font-size:8px;}
  img{height: 150px;}
  #Colossus-u-skill{width: 50vw; height: 0vh;}
  iframe{width: 250px; height: 210px;}
  #container{width: 85vw; height: 100vh;}
  #form_style{width: 70vw; height: 50vh;}
  #example{width: 100vw; height: 15vh; font-size: 4px;}
  .container{width: 100vw; height: 100vh;}
  .board_messege{width: 100%;  height: 4vh; }
  #make_code_add{margin: 1vh 42vw;}
}
@media (min-width:366px) and (max-width:786px){
  html{font-size:11px;}
  body{font-size:11px;}
  img{height: 300px;}
  iframe{width: 350px; height: 250px;}
  #container{width: 85vw; height: 100vh;}
  #form_style{width: 70vw; height: 50vh;}
  #example{width: 85vw; height: 15vh; font-size: 12px}
  .container{width: 85vw; height: 120vh;}
  .board_messege{width: 75vw; height: 6vh;}
  #make_code_add{margin: 1vh 32.5vw;}
}
@media (min-width:786px){
  html{font-size:18px;}
  body{font-size:18px;}
  img{height: 600px;}
  iframe{width: 510px; height: 315px;}
  #container{width: 85vw; height: 100vh;}
  #form_style{width: 70vw; height: 50vh;}
  #example{width: 85vw; height: 15vh; font-size: 20px}
  .container{width: 85vw; height: 120vh;}
  .board_messege{width: 75vw; height: 8vh;}
  #make_code_add{margin: 1vh 32.5vw;}
}
