@charset 'utf-8';

body { margin: 0; }

.navbar {
  background: hotpink;
  margin: 0; padding: 0;
  list-style: none;
  position: fixed;
  width: calc(100% - 250px); 
  z-index: 10;
  text-align: center;
}
.navbar>li {
  display: inline-block;
}
.navbar>li>a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  font: 400 20px 'Do Hyeon';
  
}
.navbar>li>a:hover {
  background: indigo;
}