@charset 'utf-8';

body { margin: 0; }

.navbar {
  background: hotpink;
  margin: 0; padding: 0;
  list-style: none;
  position: fixed;
  width: 85vw; 
  z-index: 10;
  text-align: center;
}
.navbar>li {
  display: inline-block;
 
}
.navbar>li>a {
  display: block;
  text-decoration: none;
  padding: 2vh 2.5vw;
  color: white;
  font: 300 1rem 'Do Hyeon';
  
}
.navbar>li>a:hover {
  background: indigo;
}